body{
    width: 100%;
    height: 100%;
    color: white;

}

.wrapper{
    background: url("1.jpg") repeat-y center/cover;
    z-index: -1;
}

h1{
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    
}
table{
    font-weight: bold;
    font-size: larger;
}

thead{
    background-color: rgba(0, 0, 0, 0.5);

}